workflows/Cosmetics - Catalog Browser.json
{
  "name": "Cosmetics - Catalog Browser",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nqBXgmAmFBXmjq7iZ11IDZcKybJQhUjJ6jRKnXsUlqM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 643198829,
          "mode": "list",
          "cachedResultName": "inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nqBXgmAmFBXmjq7iZ11IDZcKybJQhUjJ6jRKnXsUlqM/edit#gid=643198829"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Category",
              "lookupValue": "={{ $('Execute Workflow Trigger').item.json.category_name }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        240
      ],
      "id": "d44d0265-36d8-4d41-9e34-c597bd0767d7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GTOnKzQi6CDRzrHA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "category_name"
            },
            {
              "name": "sender_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        512,
        240
      ],
      "id": "79a36f0a-7893-419b-bc55-e145bb832b88",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst inputData = $('Execute Workflow Trigger').first().json;\n\n// Facebook က Carousel တစ်ခါပို့ရင် အများဆုံး ၁၀ ခုပဲ လက်ခံတဲ့အတွက် Top 10 ကိုပဲ ယူပါမယ်\nconst topItems = items.slice(0, 10);\n\nif (topItems.length === 0) {\n    return [{ json: { error: true, message: \"ဒီအမျိုးအစားထဲမှာ ပစ္စည်းမရှိသေးပါဘူးရှင်။\" } }];\n}\n\n// ပစ္စည်းတစ်ခုချင်းစီကို Facebook ကတ်ပြား (Card) ပုံစံ ပြောင်းခြင်း\nconst elements = topItems.map(item => {\n    return {\n        title: item['Product Name'] || 'Unnamed Product',\n        image_url: item['Product Image URL'] || 'https://via.placeholder.com/400',\n        subtitle: `စျေးနှုန်း: ${item['Price_Retail'] || 0} MMK `,\n        buttons: [\n            {\n                \"type\": \"postback\",\n                \"title\": \"🛒 ဝယ်မယ်\",\n                // ဝယ်မယ် နှိပ်ရင် BUY_ ဆိုတဲ့ စာသားနဲ့ AI ဆီ ပြန်ပို့ပါမယ်\n                \"payload\": `BUY_${item['Product Name']}`\n            }\n        ]\n    };\n});\n\n// Facebook API ဆီ ပို့မယ့် Payload အပြည့်အစုံ\nconst fbPayload = {\n    recipient: { id: inputData.sender_id },\n    message: {\n        attachment: {\n            type: \"template\",\n            payload: {\n                template_type: \"generic\",\n                elements: elements\n            }\n        }\n    }\n};\n\nreturn [{ json: fbPayload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        240
      ],
      "id": "ecc5f2fc-5c19-480d-9f26-f42b005e7a33",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1168,
        240
      ],
      "id": "7f94f0ee-553b-42d0-a93a-d0ad866573d6",
      "name": "HTTP Request",
      "credentials": {
        "facebookGraphApi": {
          "id": "lgZwqHYWCyZXVuSq",
          "name": "AI Guru"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "557c7d6d-a4a1-49d6-962b-4c5c5a76d6dd",
              "leftValue": "={{ $json.Instock }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        848,
        240
      ],
      "id": "456a0c09-b10c-492c-840f-5ba452a9ac34",
      "name": "Filter"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "category_name": "Body Scrub",
          "sender_id": "27571274165899350"
        }
      }
    ]
  },
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "126e5109-1ea9-4d0b-b711-9e2fa9745b43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c63e1e3f07ac87c82d219fef349d069c81140a0dd45a3c346253ac0488b9830"
  },
  "id": "CFxwy9s1uzpHEfmP",
  "tags": []
}